.main-container {
  
  
  display: flex;
  align-items: center
  
}
.main_window{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.window {

  
  width: 390px;
  overflow: hidden;
}

.all-pages-container {
  height: 130px;
  width: 9999px;
  display: flex;
  transition: translate;
  transition-property: transform;
   transition-duration: 500ms; 
  transition-timing-function: ease-in-out;
}

.arrow {
  cursor: pointer;
}
